body,
div {
    border: 0;
    margin: 0;
    padding: 0;
}

* {

    font-family: Roboto, "Droid Sans";
}

body {
    padding: 10px;
}

.roadmap {

    background: #71a0cc;
    background: transaprent;
    color: #021324;
    font-size: 15px;
}

.roadmap .header > .parent {
    background: #177cd5;
    color: #071d30;
}

.roadmap .row.header > .parent-box .content {

    /* font-weight: bold; */
}

.epic {

    background: #c2d3e2;
}

.row.footer,
.task {

    border-top: solid 1px #1a4267;
}

.task {

    background: #fff;
    background: #71a0cc;
}

.epic:not(:first-child) {

    border-top: solid 1px #47729b;;
}

/* .epic:nth-of-type(even) {

    background: #71a0cc;
} */

.row {

    display: block;
}

.parent-box {
    
    display: flex;
    position: relative;
    overflow-wrap: break-word;
}

.cell {

    display: block;
    box-sizing: border-box;
}

.cell.descr {

    position: relative;
    display: flex;
    width: 327px;
}

.cell.descr .content {

    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.cell.descr .content .openchecker {

    cursor: pointer;
    width: 0;
    display: none;
}

.row:has(> .parent-box .openchecker:checked) >  .child-box {

    display: block;
}

.row:not(.header):not(:has(> .parent-box .openchecker:checked)) .child-box {

    display: none;
}

.row:not(:has(> .child-box > .row)) > .parent-box .openarrow {

    visibility: hidden;
}

.epic .task .cell.descr {
    
    border-left: solid #d40808;
    border-left: solid #c2d3e2;
    border-left: solid #084b86;
    border-left: solid #46759f;
}
.epic .task .cell.descr { border-left-width: 20px; }
.epic .task .task .cell.descr { border-left-width: 40px; }
.epic .task .task .task .cell.descr { border-left-width: 60px; }
.epic .task .task .task .task .cell.descr { border-left-width: 80px; }
.epic .task .task .task .task .task .cell.descr { border-left-width: 100px; }
.epic .task .task .task .task .task .task .cell.descr { border-left-width: 120px; }

.cell.descr .content .openarrow {

    cursor: pointer;
    padding-right: 7px;
}

.cell.descr .content .openarrow:before {

    content: '⮞';
    content: '🢒';
    font-size: 20px;
    display: inline-block;
    transition: transform .1s;
}

.cell.descr .content .openarrow:has(.openchecker:checked):before {

    transform: rotate(90deg);
}

.v-splitter {

    width: 3px;
    background: #47729b;
    /* height: 100%; */
    cursor: ew-resize;
}

.v-splitter:before {

    content: '.';
    color: transparent;
    font-size: 0;
}

/* .text:blur {

    outline: none
} */

.epic-appendor {

    cursor: pointer;
}

.row.footer {

    background: #c2d3e2
}

.task-appendor {

    font-size: 15px;
    cursor: pointer;
}

.task-appendor.append-above {

    vertical-align: top;
}

.task-appendor.append-below {

    vertical-align: bottom;
}

.appendor-box-med {

    position: absolute;
    top: -1px;
    height: 3px;
    background: red;
    width: 100%;
    cursor: pointer;
    display: none;
}

.appendor-box-med:hover .append-button {

    display: block;
    width: 20px;
    height: 20px;
    background: #1a4267;
    visibility: visible;
}

.appendor-box-med .append-button {
    visibility: hidden;
}

.task-tool-box {

    height: 100%;
    vertical-align: middle;
    padding: 5px;

    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    box-sizing: border-box;
}

.task-tool-box .button {
    display: inline-block;
    margin-left: 3px;
    font-size: 20px;
    cursor: pointer;
    /* border: solid 1px #ccc; */
    /* background: #acc0cb; */
    padding: 0 3px;
    border-radius: 3px;
    transition: color .07s;
}

.task-tool-box .button.task-appendor  {
    
    color: #355d00;
    text-shadow: 0 0 1px #fff;
}

.task-tool-box .button.task-appendor:hover  {

    color: #209f57;
}

.task-tool-box .button.task-remover  {

    color: #6b2222;
}

.task-tool-box .button.task-remover:hover  {

    color: #f00000;
}

.cell.duration .title,
.cell.duration input {

    width: 40px;
    height: 100%;
    text-align: right;
    vertical-align: middle;
    box-sizing: border-box;
    border: none;
}

.cell.duration .minutes {

    display: none !important;
}

.cell.duration input:not(:first-child) {

    border-left: solid 1px #e2e2e2;
}

.cell.duration .title:not(:first-child) {

    border-left: solid 1px #416a8d;
}

.cell.duration .title {

    display: inline-block;
}

.cell.duration .title div {

    writing-mode: vertical-rl;
    /* text-orientation: mixed; */
    display: block;
    padding: 10px;
}

.row:has(> .child-box .row) .cell.duration input {

    background: transparent;
    border-color: #517494;
    color: #111a23;
}

.row:not(:has(> .child-box .row)) .cell.duration input {

    background: #fff;
}

/* .row:has(> .child-box .row) .cell.duration
input[type=number]::-webkit-inner-spin-button,
.row:has(> .child-box .row) .cell.duration
input[type=number]::-webkit-outer-spin-button {

      -webkit-appearance: none;
} */

.cell.time-box {

    overflow: hidden;
    background: #ccc;
    background: #eee;
    background: #9fbf9f;
    background: #dee2de;
    flex: auto;
}

.cell.time-box .shift-box {

    position: relative;
    width: 100px;
    height: 100%;
    background: #ccc;
    background: #d7d7d7;
    background: none;
}

.cell.time-box .shift-box .chunk {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
}

.row.epic .cell.time-box .shift-box .chunk {

    background: #fff500;
    background: rgb(204, 95, 95);
    background: #a19dab;
    background: #e38787;
}

.row.task .cell.time-box .shift-box .chunk {

    background: rgb(34, 130, 255);
    background: #ff9595;
    background: #a19dab;
}

.row.dragging > .parent-box .descr {

    background: yellow;
}
.roadmap.drag-mode {

    cursor:grabbing;
}

.roadmap.drag-mode
.row:not(.dragging)
.cell.descr:hover > .paste-box {

    position: absolute;
    left: 0;
    top: 0;
    background: red;
    width: 100%;
    height: 3px;
}

.roadmap.drag-mode
.row.dragging
.cell.descr:hover > .paste-box {

    display: none;
}

.roadmap input[type=button].reset {

    margin-left: 5px;
    padding: 3px 5px;
    border-radius: 3px;
}