body,
div {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
}

.roadmap {

    background: #71a0cc;
}

.epic {

    background: #c2d3e2;
}

.task {

    border-top: solid 1px #1a4267;;
}

.epic:not(:first-child) {

    border-top: solid 1px #47729b;;
}

/* .epic:nth-of-type(even) {

    background: #71a0cc;
} */

.row {
    
    display: flex;
}

.cell {

    display: block;
    box-sizing: border-box;

}

.cell.descr .content {

    padding: 5px 10px;
    display: flex;
}

.cell.descr .content input {

    /* visibility: hidden; */
    /* display: none; */
    margin-right: 10px;
}

.row:not(:has(+ .task)) .content input {

    visibility: hidden;
}

.epic + .task .cell.descr { padding-left: 10px; }
.epic + .task + .task .cell.descr { padding-left: 20px; }
.epic + .task + .task + .task .cell.descr { padding-left: 30px; }
.epic + .task + .task + .task + .task .cell.descr { padding-left: 40px; }
.epic + .task + .task + .task + .task + .task .cell.descr { padding-left: 50px; }
.epic + .task + .task + .task + .task + .task + .task .cell.descr { padding-left: 60px; }

.row:not(:has(input:checked)) + .task { display: none !important; }
.row:not(:has(input:checked)) + .task + .task { display: none !important; }
.row:not(:has(input:checked)) + .task + .task + .task { display: none !important; }
.row:not(:has(input:checked)) + .task + .task + .task + .task { display: none !important; }
.row:not(:has(input:checked)) + .task + .task + .task + .task + .task { display: none !important; }

.cell.descr .content .arrow {

    margin-right: 10px;
    display: inline-block;
    background: transparent;
    border: solid 1px red;
    width: 10px;
    height: 10px;
    border-radius: 0 0 10px 10px;
    display: none;
}

.cell.descr .content input:checked ~ .arrow {

    background: yellow;
}

.row.task {

    display: none;
}

.row:has(
input:checked
) + .row:not(.epic) {

    display: flex;
}

.v-splitter {

    width: 3px;
    background: #47729b;
    /* height: 100%; */
    cursor: ew-resize;
}

.v-splitter:before {

    content: '.';
    color: transparent;
    font-size: 0;
}